<style>
  .btn-search{
    background-color: #fe424d;
    color: white;
    border-radius: 25px;
  }
  .btn-search:hover{
    background-color: #fe424d;
    color: white;
  }
  .btn-search i{
    display: inline;
    margin-right: 0.5rem;
  }
  .search-inp{
    border-radius: 25px;
    padding: 0.5rem 3rem 0.5rem 3rem;
    font-size: 1rem;
  }
</style>

<nav class="navbar navbar-expand-lg bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <!-- Logo -->
     <i class="fa-regular fa-compass"></i>
    <a class="navbar-brand" href="/listings">  Explore</a>
    
    <!-- Mobile Toggle -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <!-- Navbar Content -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <!-- Left side items -->
      <ul class="navbar-nav me-auto">
        <!-- Add more left items here if needed -->
      </ul>
      
      <div class="navbar-nav ms-auto">
         <form class="d-flex">
      <input class="form-control me-2 search-inp" 
      type="search" 
      placeholder="Search Destinations" 
     >
      <button class="btn btn-search" type="submit">
        <i class="fa-solid fa-magnifying-glass"></i>Search</button>
    </form>
      </div>
      <!-- Right side items - pushed to extreme right -->
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="/listings/new">Airbnb Your Home</a>
        </li>
        
        <% if(!currUser) { %>
          <li class="nav-item">
            <a class="nav-link" href="/signup"><b>SignUp</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login"><b>Login</b></a>
          </li>
        <% } %> 
        
        <% if(currUser) { %>
          <li class="nav-item">
            <a class="nav-link" href="/logout"><b>Logout</b></a>
          </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>